.Display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-shrink: 0;
  height: 30%;
  padding: 1rem;
  background-color: var(--color-gray);

  & span {
    display: block;
    line-height: 1;
  }

  & .Input {
    font-size: 50px;
    font-weight: 500;
    height: 50px;
  }

  & .Mathquill {
    font-size: 22px;
  }
}
