.Calculator {
  border-radius: 20px;
  width: 320px;
  height: 568px;
  overflow: hidden;
  transition: transform 0.2s ease;

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
